@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

:root {
  --terminal-width: 45vw;
  --terminal-height: 30vw;
  --name-color: #123;
}

/* html { 
  background: url(images/bmmod2.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
  background-color: black;
}

.background {
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.container {
  z-index: 3;
  /* background: url(./images/bmmod2.png); */
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  /* border: 13px solid orange; */

}

.heading {
  z-index: 11552;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 13px solid orange; */
}

.heading .name-block {
  display: flex;
  /* z-index: 119; */
  /* top: -20px;
  left: -90px; */
  padding: 0;
  margin: 0;

  /* border: solid fuchsia; */
}

.name-block * {
  border: none;
  /* border: solid white; */
}

.heading .imag-aligner {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.heading .brace {
  padding: 0;
  height: 92px;
  width: 90px;
  /* border: 2px solid #f9f; */
}

.heading .lt-brace {
  padding: 0;
  top: 200px;
  left: 20vw;
}

.heading .rt-brace {
  padding: 0;
  top: 200px;
  left: 60vw;
}

.heading .name {
  position: relative;
  left: 7px;
  z-index: 109;
  align-self: center;
  justify-self: center;
  color: var(--name-color);
  font-family: 'Rubik Dirt', Helvetica, sans-serif;
  letter-spacing: .4pc;
  text-shadow: 2px -2px #558ABB;
  text-shadow: -2px 2px #558ABB;
  margin: 0 10px;
  /* padding: 16px; */
  /* border: 5px dotted var(--name-color); */
  /* transform: skewX(-15deg) skewY(-3deg); */
}

.heading .name p {
  display: inline-block;
  color: #9ff;
  font-size: 14px;
  text-align: center;
  width: 1em;
}

.heading .address {
  position: relative;
  top: -1.9em;
  display: block;
  z-index: 110;
  text-align: center;
  font-size: 12px;
  letter-spacing: .2pc;
  color: #9ffd;
  margin: 5px 0 5px 0;

  /* border: 2px solid #999; */
}

@keyframes loadMachine {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}



.the-machine {
  opacity: 0;
  animation: loadMachine 0s forwards;
  width: 80vw;
  height: 60vh;
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid pink; */
}

.terminal {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: monospace;
  background-color: #111111af;
  border-radius: 20px;
  color: rgb(130, 211, 130);
  font-size: 21px;
  width: var(--terminal-width);
  height: var(--terminal-height);
  margin: auto;
  padding: 25px;
  box-shadow: 100px 80px 135px 5px #666633cc,
    -80px -60px 145px 45px #663366bb;

  border: solid .2px #9ff;
}

.terminal-head {
  /* created in app.js displayNext[School]HistoryItem */
  color: var(--name-color);
  margin-bottom: 8px;
  /* border: solid .2px greenyellow; */
}

.terminal-text {
  width: 98%;
  text-align: left;
  line-height: 1.6em;
  font-size: 14px;
  font-family: 'Roboto Mono', monospace;
  /* background-color: #4448; */
  /* border: solid .2px #9ff; */
}


.the-buttons {
  /* position: relative;
  top: 90px; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 6em;

  /* border: 2px solid yellow; */
}

.div-next {
  z-index: 100;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: .2px solid yellow; */
  margin: 0;
  padding: 0;
  text-align: right;
  color: #fff7;
}

/* "WORK HISTORY", "SCHOOL HISTORY" */
.div-next .label {
  display: block;
  width: 6em;
  font-size: .8em;
  color: #ffff;
  text-align: left;

  /* border: solid yellow; */
}

.div-next .arrow {
  cursor: pointer;
}

.div-next .arrow:hover {
  filter: invert();
}

.the-buttons button {
  height: 3em;
  padding: 10px;
  margin: 0 10px;
  background-color: #6b40;
  color: #000;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: .1pc;
}



@media (max-width: 695px) {
  .terminal {
    width: 70vw;
  }
}